* {
    font-family: "Roboto";
    color: #FBFBFB;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.616);
}

body {
    background-color: #15212D;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: "Josefin Sans";
    font-weight: bolder;
}

h2 {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 24pt;
}

p {
    font-family: "Josefin Sans";
    font-weight: lighter;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
    font-size: 16pt;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

.title {
    font-size: 64pt;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
}

.subtitle {
    padding-left: 7%;
}

.topVideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    object-fit: cover;
    z-index: -100;
    mask-image: linear-gradient(to top, transparent, #000);
}

.main {
    display: flex;
    flex-direction: row;
}

.infoVideo video {
    padding-left: 20%;
    width: 100%;
    height: 20vw;
    object-fit: cover;

}

.infoText {
    display: grid;
    width: 40vw;
    padding-left: 10%;
}

.hireButton {
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            rgba(136, 191, 232, 1) 0%,
            rgba(158, 199, 229, 1) 9%,
            rgba(158, 199, 229, 1) 89%,
            rgba(112, 176, 224, 1) 100%);
    display: inline;
    margin: 5%;
    padding: 1%;
    z-index: 1000;
}

.hireButton a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 200;
    font-size: 16pt;
    letter-spacing: normal;
    transition: 0.2s;
}

.hireButton a:hover {
    letter-spacing: 1pt;
}

.background {
    position: fixed;
    width: 100%;
    bottom: 0;
    opacity: 10%;
    filter: saturate(30%);
    z-index: -1000;
}



footer {
    font-weight: lighter;
    border-top: 1px solid white;
    background-color: #101922;
    display: flex;
    flex-direction: column;
    align-self: auto;
}

footer .navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .navigation ul li {
    padding-left: 10px;
    padding-right: 10px;
}

footer .navigation ul li a {
    text-decoration: none;
}

footer .socials {
    border-top: 1px solid rgba(255, 255, 255, 0.466);
}


footer .socials ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

footer .socials ul li {
    padding-left: 20px;
    padding-right: 20px;
}

footer .socials ul li a img {
    width: 32px;
    height: auto;
    filter: invert(1);
}

footer .info p {
    font-family: "Josefin Sans";
    font-weight: lighter;
    font-size: 11pt;
}

/* work page specifics */

.showreel {
    max-width: fit-content;
    /*margin-left: auto;
    margin-right: auto;*/
}